<html>
<head>
    <meta charset="utf-8"/>
    <title>Portfolio Optimizer</title>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }} ">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/portfolio.css') }} ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>

</head>
<body>


    <div class="container-fluid" id="monte-carlo-container" >

         <div class="row">
         {#   Portfolio with highest sharp-ratio  #}
            <div class="col-sm-6">
                <div  id="first_element">
                    <span class=" badge badge-primary col-md-11  p-type"> Optimized Portfolio</span>
                </div>
                <div class="card">
                  <div class="card-block">

                    <div class="row">

                        <h3 class="card-text" class="metric-text" > Returns:
                               <span class="badge badge-success" id="weigh-format"> {{s_return*100 }}% </span> </h3>


                    </div>



                    <div class="row">

                        <h3 class="card-text" class="metric-text"> Volatility:
                            <span class="badge badge-danger" id="weigh-format">{{ s_stdev*100 }}%</span></h3>



                    </div>

                  <div class="row">

                        <h3 class="card-text" class="metric-text"> Sharp Ratio:
                        <span class="badge badge-warning"id="weigh-format">{{ s_sharp }}</span></h3>


                    </div>


                    <div class="row">

                        <h3 class="card-text" class="metric-text"> {{ stock1 }}:<span class="badge badge-info"id="weigh-format">{{ s_stock1*100 }}%</span></h3>

                        <div class="col" >
                            <canvas class="float-right" id="weight-1" width="200" height="100"></canvas>
                        </div>
                    </div>


                    <div class="row">

                        <h3 class="card-text" class="metric-text"> {{stock2}}:<span class="badge badge-info"id="weigh-format">{{ s_stock2*100 }}%</span></h3>

                        <div class="col" >
                            <canvas class="float-right" id="weight-2" width="200" height="100"></canvas>
                        </div>
                    </div>

                      <div class="row">

                            <h3 class="card-text" class="metric-text"> {{ stock3 }}<span class="badge badge-info"id="weigh-format">{{ s_stock3*100 }}%</span></h3>

                            <div class="col" >
                                <canvas class="float-right" id="weight-3" width="200" height="100"></canvas>
                            </div>
                      </div>



                    <div class="row">

                        <h3 class="card-text" class="metric-text">{{ stock4 }}:<span class="badge badge-info"id="weigh-format">{{ s_stock4*100 }}%</span></h3>

                        <div class="col" >
                            <canvas class="float-right" id="weight-4" width="200" height="100"></canvas>
                        </div>
                    </div>

                    <div class="row">

                        <h3 class="card-text" class="metric-text"> {{ stock5}}:<span class="badge badge-info"id="weigh-format">{{ s_stock5*100 }}%</span></h3>

                        <div class="col" >
                            <canvas class="float-right" id="weight-5" width="200" height="100"></canvas>
                        </div>
                    </div>

                  </div>
                </div>
            </div>

         {#  Least Risky Portfolio  #}
            <div class="col-sm-6">
                <div  id="first_element">
                    <span class=" badge badge-primary col-md-11 p-type" > Least Risky Portfolio</span>
                </div>
                <div class="card">
                  <div class="card-block">

                    <div class="row">

                        <h3 class="card-text" class="metric-text"> Returns:<span class="badge badge-success"id="weigh-format"> {{ r_return*100 }}% </span> </h3> </h3>


                    </div>



                    <div class="row">

                        <h3 class="card-text" class="metric-text"> Volatility:<span class="badge badge-danger"id="weigh-format"> {{ r_stdev*100 }}% </span> </h3></h3>


                    </div>

                  <div class="row">

                        <h3 class="card-text" class="metric-text"> Sharp Ratio:<span class="badge badge-warning"id="weigh-format"> {{ r_sharp }} </span> </h3></h3>


                    </div>


                    <div class="row">

                        <h3 class="card-text" class="metric-text"> {{ stock1 }}:<span class="badge badge-info"id="weigh-format">{{ r_stock1*100 }}%</span></h3>

                        <div class="col" >
                            <canvas class="float-right" id="weight-6" width="200" height="100"></canvas>
                        </div>
                    </div>


                    <div class="row">

                        <h3 class="card-text" class="metric-text"> {{ stock2 }}:<span class="badge badge-info"id="weigh-format">{{ r_stock2*100 }}%</span></h3>

                        <div class="col" >
                            <canvas class="float-right" id="weight-7" width="200" height="100"></canvas>
                        </div>
                    </div>

                      <div class="row">

                            <h3 class="card-text" class="metric-text"> {{ stock3 }}:<span class="badge badge-info"id="weigh-format">{{ r_stock3*100 }}%</span></h3>

                            <div class="col" >
                                <canvas class="float-right" id="weight-8" width="200" height="100"></canvas>
                            </div>
                      </div>



                    <div class="row">

                        <h3 class="card-text" class="metric-text"> {{ stock4 }}:<span class="badge badge-info" id="weigh-format">{{ r_stock4*100 }}%</span></h3>

                        <div class="col" >
                            <canvas class="float-right" id="weight-9" width="200" height="100"></canvas>
                        </div>
                    </div>

                    <div class="row">

                        <h3 class="card-text" class="metric-text"> {{ stock5 }}:<span class="badge badge-info" id="weigh-format">{{ r_stock5*100 }}%</span></h3>

                        <div class="col" >
                            <canvas class="float-right" id="weight-10" width="200" height="100"></canvas>
                        </div>
                    </div>

                  </div>
                </div>
            </div>

             <div class="col-md-6" style="margin-left: 35%; padding-top:1%" >
                                 <img src="{{ url_for('plot5') }}" alt="Image Placeholder" >
             </div>

         </div>




    </div>































    <a href = '{{url_for('ChooseStocks')}}'> Homepage </a>


    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


    <script>

        {#Monte Carlo Metric #}

            {#Metric-1#}
                var weight_1_Data = [

                    {
                        value : {{ s_stock1 }},
                        color : "#4ACAB4"
                    },
                    {
                        value : {{1 -s_stock1 }},
                        color : "#FF8153"
                    }

                ];
                // Get the context of the canvas element we want to select
                var weight_1= document.getElementById("weight-1").getContext("2d");
                new Chart(weight_1).Doughnut(weight_1_Data);


            {#Metric-2#}
                var weight_2_Data = [

                    {
                        value : {{ s_stock2 }},
                        color : "#4ACAB4"
                    },
                    {
                        value : {{ 1 -s_stock2 }},
                        color : "#FF8153"
                    }
                ];
                // Get the context of the canvas element we want to select
                var weight_2= document.getElementById("weight-2").getContext("2d");
                new Chart(weight_2).Doughnut(weight_2_Data);


            {#Metric-3#}
                var weight_3_Data = [

                    {
                        value : {{ s_stock3 }},
                        color : "#4ACAB4"
                    },
                    {
                        value : {{ 1 -s_stock3 }},
                        color : "#FF8153"
                    }

                ];
                // Get the context of the canvas element we want to select
                var weight_3= document.getElementById("weight-3").getContext("2d");
                new Chart(weight_3).Doughnut(weight_3_Data);


            {#Metric-4#}
                var weight_4_Data = [

                    {
                        value : {{ s_stock4 }},
                        color : "#4ACAB4"
                    },
                    {
                        value : {{ 1 -s_stock4 }},
                        color : "#FF8153"
                    }

                ];
                // Get the context of the canvas element we want to select
                var weight_4= document.getElementById("weight-4").getContext("2d");
                new Chart(weight_4).Doughnut(weight_4_Data);


        {#Metric-5#}
                var weight_5_Data = [

                    {
                        value : {{ s_stock5 }},
                        color : "#4ACAB4"
                    },
                    {
                        value : {{ 1 -s_stock5 }},
                        color : "#FF8153"
                    }

                ];
                // Get the context of the canvas element we want to select
                var weight_5= document.getElementById("weight-5").getContext("2d");
                new Chart(weight_5).Doughnut(weight_5_Data);

        {#Metric-6#}
            var weight_6_Data = [

                {
                    value : {{ r_stock1 }},
                    color : "#4ACAB4"
                },
                {
                    value : {{ 1 -r_stock1 }},
                    color : "#FF8153"
                }

            ];
            // Get the context of the canvas element we want to select
            var weight_6= document.getElementById("weight-6").getContext("2d");
            new Chart(weight_6).Doughnut(weight_6_Data);

        {#Metric-7#}
            var weight_7_Data = [

                {
                    value : {{ r_stock2 }},
                    color : "#4ACAB4"
                },
                {
                    value : {{ 1 -r_stock2 }},
                    color : "#FF8153"
                }

            ];
            // Get the context of the canvas element we want to select
            var weight_7= document.getElementById("weight-7").getContext("2d");
            new Chart(weight_7).Doughnut(weight_7_Data);

        {#Metric-8#}
            var weight_8_Data = [

                {
                    value : {{ r_stock3 }},
                    color : "#4ACAB4"
                },
                {
                    value : {{ 1 -r_stock3 }},
                    color : "#FF8153"
                }

            ];
            // Get the context of the canvas element we want to select
            var weight_8= document.getElementById("weight-8").getContext("2d");
            new Chart(weight_8).Doughnut(weight_8_Data);

        {#Metric-9#}
            var weight_9_Data = [

                {
                    value : {{ r_stock4 }},
                    color : "#4ACAB4"
                },
                {
                    value : {{ 1 -r_stock4 }},
                    color : "#FF8153"
                }

            ];
            // Get the context of the canvas element we want to select
            var weight_9= document.getElementById("weight-9").getContext("2d");
            new Chart(weight_9).Doughnut(weight_9_Data);

        {#Metric-10#}
            var weight_10_Data = [

                {
                    value : {{ r_stock5 }},
                    color : "#4ACAB4"
                },
                {
                    value : {{1 - r_stock5 }},
                    color : "#FF8153"
                }

            ];
            // Get the context of the canvas element we want to select
            var weight_10= document.getElementById("weight-10").getContext("2d");
            new Chart(weight_10).Doughnut(weight_10_Data);

        {#Metric-11#}
            var weight_6_Data = [

                {
                    value : 85,
                    color : "#4ACAB4"
                },
                {
                    value : 30,
                    color : "#FF8153"
                }

            ];
            // Get the context of the canvas element we want to select
            var weight_6= document.getElementById("weight-6").getContext("2d");
            new Chart(weight_6).Doughnut(weight_6_Data);


    </script>
</body>

</html>